.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    min-width: 984px;
    // height: 100vh;
    margin: 24px;

    .profileForm {
        width: 576px;
        margin-bottom:202px;

        .nameInputsBlock {
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;

            .nameInput {
                width: 176px;
            }
        }

        .inputProfile {
            margin-bottom: 48px;
        }
    }

    .buttonBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-self: flex-end;
        // margin-top: 736px;

        .backIcon {
            width: 26px;
            height: 20px;
            cursor: pointer;
        }
    }
}