.ant-input {
    padding: 8px 8px 8px 16px;
    border: none;
}

.linkWrapper {
    display: flex;
    justify-content: flex-end;

    .link {
        color: #4e5af2;
        font-size: 12px;
        font-weight: 600;
        position: relative;
        z-index: 100;
        margin-top: -28px;
        margin-right: 8px;
    }
}