label {
    font-size: 12px;
    font-weight: 600;
    color: #20272E;
}

.keyWrapper {
    display: flex;
    justify-content: flex-end;

    .imgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 25px;
        background-color: white;
        position: relative;
        z-index: 2;
        margin-right: 30px;
        margin-top: -32px;
        cursor: pointer;
    }
}

.generatePassWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .option:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 48px;
        padding: 12px 16px;
        background-color: white;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid lightgray;
        font-size: 14px;
        font-weight: 600;

        .copy{
            margin-right: 16px;
            cursor: pointer;
        }
        .reGenerate{
            cursor: pointer;
        }
        &:hover {
            background-color: #edf2ff;
        }
    }

    .option:nth-child(2n) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        background-color: white;
        border-radius: 0 0 5px 5px;
        font-size: 14px;
        font-weight: 600;

        &:hover {
            background-color: #edf2ff;
            cursor: pointer;
        }
    }


}