.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #8d97b0;
    padding: 12px 24px;
    background-color: #dcdefc;
    border: 1px solid #dcdefc;
    border-radius: 20px;
    cursor: pointer;
}