.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #8d97b0;
    padding: 12px 24px;
    background-color: #dcdefc;
    border: 1px solid #dcdefc;
    border-radius: 20px;
    cursor: pointer;
}

.primary{
    &:extend(.button);
    color: white;
    background-color: #5e6bf6;
    width: 89px;
    height: 24px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
}
.primary-216{
    &:extend(.primary);
    width: 216px;
    height:40px;
}
.white-216{
    &:extend(.primary-216);
    color: #8d97b0;
    background-color: white;
    border: 1px solid #8d97b0;
}
.socialBtn{
    width: 104px;
    background-color: white;
    padding: 8px 0;
    border: 1px solid #d2d8e8;
    border-radius: 8px;
    cursor: pointer;
}