.errorBox {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .error {
        color: #FF776F;
        font-size: 10px;
        font-weight: 400;
        margin-left: 8px;
    }

    .warning {
        color: #71d475;
        font-size: 10px;
        font-weight: 400;
        margin-left: 8px;
    }
}