.authWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .descriptionWrapper {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        background: linear-gradient(180deg, #8892ff 0%, #6d6be5 18.75%);

        .descriptionBlock {
            margin: 92px 42px 0px 64px;

            h1 {
                font-size: 36px;
                color: white;
                margin: 0 0 24px 0;
            }

            h2 {
                font-size: 24px;
                color: white;
                margin: 0 0 24px 0;
            }

            .description {
                color: #EDF2FF;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 72px;
            }

            .listContainer {
                display: flex;
                flex-wrap: wrap;

                .listElement {
                    display: flex;
                    width: 244px;

                    .square {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18.5px;
                        height: 18.5px;
                        border: 1.5px solid #84df88;
                        border-radius: 5px;
                        margin-right: 10.75px;
                    }

                    .textElement {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }

        .group {
            width: 600px;
            height: 280px;
            margin-top: auto;
        }
    }

    .descRegWrapper {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        background: linear-gradient(180deg, #8892ff 0%, #6d6be5 18.75%);

        .descriptionBlock {
            margin: 92px 42px 0px 64px;

            h1 {
                font-size: 36px;
                color: white;
                margin: 0 0 24px 0;
            }

            h2 {
                font-size: 24px;
                color: white;
                margin: 0 0 24px 0;
            }

            .descProfile {
                color: #EDF2FF;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 72px;
            }

            .listContainer {
                display: flex;
                flex-wrap: wrap;

                .listElement {
                    display: flex;
                    width: 244px;

                    .square {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18.5px;
                        height: 18.5px;
                        border: 1.5px solid #84df88;
                        border-radius: 5px;
                        margin-right: 10.75px;
                    }

                    .textElement {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }

        .group {
            width: 480px;
            height: 265px;
            margin-top: auto;
        }
    }
}