    .tabsWrapper {
        display: flex;
        justify-content: center !important;
        height: 100%;
        max-width: 100%;
        padding-left: 24px;
  
        @media (max-width:480px) {
            min-width: 100vw;
            padding-left: 0px;
        }

        .tabs {
            margin-top: 109px;
            width: 336px;

            @media (max-width:480px) {
                  margin-top:15px;
                }
        }
      
        .ant-tabs-nav-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .ant-tabs-tab {
            width: 50%;
            justify-content: center;
            color: #6d7895;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
        }

        .ant-tabs-ink-bar {
            height: 4px;
            background: '#4e5af2' !important;
            border-radius: 4px 4px 0 0;
          }
    }