.inputEmail{
    margin-top: 48px;
    margin-bottom: 24px;
}
.inputPass{
    margin-bottom: 24px;
}
.inputConfirmPass{
    margin-bottom: 24px;
}
.error{
    color: #FF776F;
    font-size: 10px;
    font-weight:400;
}